@-webkit-keyframes bounce-in {
  0%   { opacity: 1; -webkit-transform: translate(0, -80px); -webkit-animation-timing-function: ease-in; }
  35%  { -webkit-transform: translate(0, 0); -webkit-animation-timing-function: ease-out; }
  60%  { -webkit-transform: translate(0, -20px); -webkit-animation-timing-function: ease-in; }
  75%  { -webkit-transform: translate(0, 0); -webkit-animation-timing-function: ease-out; }
  90%  { -webkit-transform: translate(0, -5px); -webkit-animation-timing-function: ease-in; }
  100% { -webkit-transform: translate(0, 0); opacity: 1;}
}

@-webkit-keyframes slide-in {
  0%    { -webkit-transform: translate3d(0, -100px, 0); }
  100%  { -webkit-transform: translate3d(0, 0, 0); }
}

@-webkit-keyframes pop-in {
  0% { -webkit-transform: scale(.1); }
  100% { -webkit-transform: scale(1); }
}

@-webkit-keyframes roll-in {
  0% { -webkit-transform: translate(2em, 0) rotate(220deg); }
  100% { -webkit-transform: translate(0, 0) rotate(0deg); }
}


@-webkit-keyframes slide-title {
  from { opacity: 0; -webkit-transform: translate(2em, 0); }
  to { opacity: 1; -webkit-transform: translate(0, 0); }
}

@-webkit-keyframes fade-in {
  0% { opacity: 0; }
  99% { opacity: 0; }
  100% { opacity: 1; }
}


