@import "compass";
@import "compass/layout";
@import "3d-text-shadow";
@import "animation";

@include global-reset;
@include reset-html5;

@font-face {
  font-family: 'AdelleBasic';
  src: url('/fonts/adellebasic_bold-webfont.eot');
  src: url('/fonts/adellebasic_bold-webfont.eot?iefix') format('eot'),
  url('/fonts/adellebasic_bold-webfont.woff') format('woff'),
  url('/fonts/adellebasic_bold-webfont.ttf') format('truetype'),
  url('/fonts/adellebasic_bold-webfont.svg#webfontJFDq7ODC') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CaviarDreams';
  src: url('/fonts/caviardreams-webfont.eot');
  src: url('/fonts/caviardreams-webfont.eot?iefix') format('eot'),
  url('/fonts/caviardreams-webfont.woff') format('woff'),
  url('/fonts/caviardreams-webfont.ttf') format('truetype'),
  url('/fonts/caviardreams-webfont.svg#webfont0Js5eVZ5') format('svg');
  font-weight: normal;
  font-style: normal;
}

@function hues(){
  $hues: compact();
  @for $i from 0 through 36 {
    $hues: append($hues, color_stop(hsl($i*10, 100, 50)));
  }
  @return $hues;
}

html {
  text-align: center;
  @include background-size(80px 80px);
  @include background-image(linear-gradient(left top, rgba(#000, .1) 25%, rgba(#000, 0) 25%, rgba(#000, 0) 50%, rgba(#000, .1) 50%, rgba(#000, .1) 75%, rgba(#000, 0) 75%, rgba(#000, 0)));
  background-color: #555;
}

body {
  background: none;
  padding: 0px 0px 40px;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  &:after {
    content: " ";
    @include stretch;
    position: fixed;
    background: rgba(#000, .5);
    z-index: -1;
  }
  & > div, & > section, & > heading {
    width: 640px;
    margin: 0 auto;
    @include box-sizing(border-box);
  }
}
.heading-font {
  font-family: 'AdelleBasic', sans;
  font-weight: normal;
}

h1, h2, h3 {
  @extend .heading-font;
  color: #eee;
  font-weight: normal;
}

a {
  @include transition(color, .5s);
  color: #eee;
  text-decoration: none;
  border-bottom: 1px dotted;
}
p {
  margin: 0;
  padding: 0 0 1.5em;
  line-height: 1.5em;
}
code {
  font-size: 0.95em;
  font-family: menlo, monaco, 'andale mono', 'courier new', fixed;
  display: inline-block;
  background: rgba(#000, .3);
  padding: 0 .4em;
  @include border-radius(4px);
}
pre {
  background: rgba(#000, .3);
  padding: 1em;
  margin: 0 0 1.8em;
  width: auto;
  @include border-radius(4px);
  @extend .inset-box-shadow;
  code { background: none; }
}
.inset-box-shadow {
  @include box-shadow(rgba(#fff, .1) 0 1px 0, rgba(#000, .8) 0 1px 7px 0px inset);
}
.x-input-slider {
  @include border-radius(10px);
  @include box-shadow(rgba(#fff, .1) 0 1px 2px 1px inset, rgba(#fff, .2) 0 1px inset, rgba(#000, .4) 0 -1px 1px inset, rgba(#000, .4) 0 1px 1px);
  position: relative;
  height: 15px;
  width: 381px;
  &:after {
    content: " ";
    @include stretch(-3px, -4px, -3px, -4px);
    background: rgba(#000, .3);
    @include border-radius(15px);
    @include box-shadow(rgba(#000, .3) 0 1px inset, rgba(#fff, .1) 0 1px);
    z-index: -1;
  }
}
.x-thumb {
  position: relative;
  z-index: 2;
  top: -3px;
  content: " ";
  width: 21px;
  height: 21px;
  z-index: 1;
  background-color: rgba(#ccc, 1);
  @include transition(background, .4s);
  @include background-image(radial-gradient(top center, circle, rgba(#fff, .8), rgba(#fff, .2) 15px));
  @include border-radius(11px);
  @include box-shadow(rgba(#fff, 1) 0px 1px 1px inset, rgba(#000, 0.4) 0px -1px 1px inset, rgba(#000, 0.4) 0px 1px 4px 0px, rgba(#000, .6) 0 0 2px);
}

h1 {
  text-align: center;
  font-size: 3.5em;
  margin: 0em 0 .1em;
  line-height: 1em;
  @extend .heading-font;
  text-transform: uppercase;
  word-spacing: .05em;
  font-weight: bold;
  &:focus { outline: 0; }
}
heading {
  p:first-child {
    font-style: normal;
    text-transform: uppercase;
    font-family: "CaviarDreams", sans;
    display: block;
    text-shadow: #000 1px 1px 0px;
    color: #eee;
    letter-spacing: .1em;
    margin: 1em 0 .3em;
    padding: 0;
    font-size: 1.25em;
    &:before, &:after {
      content: ' ';
      width: 4.5em;
      height: 1px;
      display: inline-block;
      border-bottom: 1px solid #888;
      position: relative;
      top: -.35em;
      margin: 0 .5em;
    }
  }
  p {
    font-size: .7em;
    text-shadow: #000 0 1px;
    font-family: "Caviar Dreams", sans;
    font-style: normal;
    display: block;
    margin: 0em 0 1.2em;
    color: #aaa;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: .5em;
  }
  a {
    border-bottom: 0;
  }
}

#frame {
  margin: 0 auto;
  padding: 21px 20px;
  position: relative;
  z-index: 2;
  @include perspective(500);
  @include box-shadow(rgba(#fff, .4) 0 1px inset, rgba(#000, .1) 0 -1px 1px inset, rgba(#000, .8) 0 5px 30px);
  @include border-radius(10px);
}

#shadow {
  @include stretch-x(9px, 9px);
  bottom: -10px;
  height: 16px;
  @include box-shadow(rgba(#000, .4) 0 10px 35px 5px);
  @include border-bottom-radius(5px);
  @include transform(rotateX(-55deg));
  background: desaturate(darken(#ff0000, 25), 10);
}

.no-csstransforms3d #shadow { display: none; }

#color {
  float: left;
  width: 100px;
  height: 100px;
  margin: 1px 18px 1px 20px;
  @include border-radius(6px);
  @include box-shadow(rgba(#000, .5) 0 1px 5px, rgba(#fff, .4) 0 1px 1px inset, rgba(#000, .3) 0 -1px 1px inset);
}

#hue { @include background-image(linear-gradient(left, hues())); }
#saturation { @include background-image(linear-gradient(left, hsl(0,0,50), hsl(0,50,50), hsl(0,100,50))); }
#lightness { @include background-image(linear-gradient(left, hsl(0,0,0), hsl(0,100,50), hsl(0,0,100))); }

#hsl_picker {
  @include pie-clearfix;
  margin: 0;
  z-index: 100;
  list-style: none;
  background: rgba(#000, .6);
  padding: 1.2em 0;
  @include box-shadow(rgba(#000, .4) 0 0 1em .3em inset, rgba(#fff, .3) 0 1px, rgba(#000, .3) 0 -1px);
  @include background-size(25px 25px);
  @include background-image(linear-gradient(left top, rgba(#000, .1) 25%, rgba(#000, 0) 25%, rgba(#000, 0) 50%, rgba(#000, .1) 50%, rgba(#000, .1) 75%, rgba(#000, 0) 75%, rgba(#000, 0)));
  border: 1px solid rgba(#000, .3);
  @include border-radius(5px);
  .slider {
    position: relative;
    padding: 10px 20px 10px 0;
    float: left;
    z-index: 1;
    width: 420px;
    & > div {
      @extend .x-input-slider;
      .thumb { @extend .x-thumb; }
      &:hover .thumb {
        background-color: rgba(#fff, .1);
      }
      & + input {
        position: absolute; right: 0px; width: 30px; top: 4px;
        font-size: .9em;
        padding: 3px 6px;
      }
    }
  }
}


#colors {
  padding: 42px 0px 10px;
  clear: both;
  position: relative;
  z-index: 0;
  input {
    width: 32.2%;
    display: inline-block;
    text-align: center;
    & + input { margin-left: 5px; }
  }
  //#hex { width: 8em; }
  //#rgb { width: 13em; }
  //#hsl { width: 17em; }

}

.csstransforms3d #colors { -webkit-animation: slide-in .8s ease-out; }

input {
  @include transition(background, .5s);
  @include border-radius(4px);
  @include box-shadow(rgba(#fff, .1) 0 1px 0, rgba(#000, .8) 0 1px 7px 0px inset);
  border: 0;
  padding: 8px 0;
  font-size: 1em;
  background-color: rgba(#000, .3);
  color: rgba(#fff, .8);
  text-shadow: rgba(#000, .5) 0 2px 1px;
  &:focus { outline: none; color: #fff; }
}
input.error {
  @include box-shadow(rgba(mix(#fff, red), .1) 0 1px 0, rgba(#000, .8) 0 1px 7px 0px inset);
  background-color: rgba(mix(#000, red, 60), .3) !important;
  color: mix(#fff, red, 6);
}
h3 {
  font-size: 1.6em;
  margin: .8em 0 1em; }
h2 {
  text-align: center;
  font-size: 2em;
  margin: .2em 0 0;
  border-bottom: 1px solid rgba(#000, .3);
  padding-bottom: .6em;
  & + p {
    border-top: 1px solid rgba(#fff, .05);
    padding-top: 1.2em;
  }
}

#why {
  color: #c6c6c6;
  font-size: .9em;
  line-height: 1.45em;
  margin-top: 1em;
  padding-top: 1em;
  text-align: left;
  overflow: hidden;

  pre,h2,h3,p { display: none; }
  p { font-family: "Lucida sans", Helvetica, Arial, sans; }
  strong { color: #ccc; }
  a.why {
    color: #444;
    text-shadow: #000 0 0 2px;
    text-transform: lowercase;
    display: block;
    width: 3.5em;
    margin: 0 auto;
    text-align: center;
    display: none;
  }

  &.hello{
    margin-top: 2em;
    @include border-radius(4px);
    @extend .inset-box-shadow;
    padding: 2em 2.5em .5em;
    background: rgba(#000, .2);

    h2,h3 { text-shadow: rgba(#000, .7) 0 2px 2px; }
    pre,h2,h3,p { display: block; }
  }
}

#footer {
  color: #555;
  text-shadow: rgba(#000, .5) 0 1px 1px;
  margin-top: 1.3em;
  font-size: .85em;
  a {
    display: inline-block;
    color: #666;
    line-height: 1.1em;
    border-color: #555;
    & + a {
      margin-left: 1em;
      position: relative;
      &:before {
        content: " ";
        display: block;
        position: absolute; left: -.7em; top: 0;
        border-left: 1px solid rgba(#000, .4);
        @include box-shadow(rgba(#fff, .04) 1px 0 inset);
        width: 1px; height: 1.3em;
      }
    }
  }
}

