/* line 1, ../assets/stylesheets/_picker.scss */
#hslpicker {
  margin: 0 auto;
}

/* line 5, ../assets/stylesheets/_picker.scss */
.color-tiles:before, .bgs:before, .slider:before {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2)), -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2));
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2)), -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2));
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2)), -o-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2));
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2)), linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2));
  -webkit-background-size: 20px 20px;
  -moz-background-size: 20px 20px;
  -o-background-size: 20px 20px;
  background-size: 20px 20px;
  background-position: 0px 0px, 10px 10px;
}

/* line 17, ../assets/stylesheets/_picker.scss */
.color-tiles:before, .bgs:before, .slider:before, .color-tiles:after, .bgs:after, .slider:after {
  content: "";
  z-index: -2;
}
/* line 21, ../assets/stylesheets/_picker.scss */
.color-tiles:after, .bgs:after, .slider:after {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: -3px;
  bottom: -3px;
  left: -4px;
  right: -4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px inset, rgba(255, 255, 255, 0.1) 0 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px inset, rgba(255, 255, 255, 0.1) 0 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px inset, rgba(255, 255, 255, 0.1) 0 1px;
}
/* line 26, ../assets/stylesheets/_picker.scss */
.color-tiles:before, .bgs:before, .slider:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 32, ../assets/stylesheets/_picker.scss */
.color-tiles {
  position: relative;
  width: 119px;
  height: 119px;
  margin-bottom: 15px;
  margin-right: 10px;
  margin-top: 3px;
  float: left;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: background-color 0.1s;
  -moz-transition: background-color 0.1s;
  -o-transition: background-color 0.1s;
  transition: background-color 0.1s;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
/* line 40, ../assets/stylesheets/_picker.scss */
.color-tiles:after {
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
/* line 41, ../assets/stylesheets/_picker.scss */
.color-tiles:before {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 43, ../assets/stylesheets/_picker.scss */
.color-tiles .tile {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 46, ../assets/stylesheets/_picker.scss */
.color-tiles div .tile {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 49, ../assets/stylesheets/_picker.scss */
.color-tiles div .tile, .color-tiles .bg {
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 2px 1px inset, rgba(255, 255, 255, 0.2) 0 1px inset, rgba(0, 0, 0, 0.4) 0 -1px 1px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 2px 1px inset, rgba(255, 255, 255, 0.2) 0 1px inset, rgba(0, 0, 0, 0.4) 0 -1px 1px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 2px 1px inset, rgba(255, 255, 255, 0.2) 0 1px inset, rgba(0, 0, 0, 0.4) 0 -1px 1px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}

/* line 54, ../assets/stylesheets/_picker.scss */
.foreground, .background {
  position: absolute;
  width: 119px;
  height: 119px;
}

/* line 60, ../assets/stylesheets/_picker.scss */
.foreground {
  z-index: 2;
  cursor: pointer;
}

/* line 65, ../assets/stylesheets/_picker.scss */
.background-color {
  z-index: 0;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}

/* line 72, ../assets/stylesheets/_picker.scss */
.exposed .bg {
  left: 0;
}
/* line 73, ../assets/stylesheets/_picker.scss */
.exposed .foreground {
  left: 29px;
  top: 29px;
  width: 90px;
  height: 90px;
}
/* line 77, ../assets/stylesheets/_picker.scss */
.exposed .background {
  right: 29px;
  width: 90px;
  height: 90px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 10px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 1px 10px;
}
/* line 82, ../assets/stylesheets/_picker.scss */
.exposed .foreground {
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 10px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 1px 10px;
}
/* line 86, ../assets/stylesheets/_picker.scss */
.exposed .selected:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  z-index: 1;
  -webkit-box-shadow: rgba(255, 255, 255, 0.5) 0 0 0px 1px inset, rgba(0, 0, 0, 0.5) 0 0 0 5px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.5) 0 0 0px 1px inset, rgba(0, 0, 0, 0.5) 0 0 0 5px inset;
  box-shadow: rgba(255, 255, 255, 0.5) 0 0 0px 1px inset, rgba(0, 0, 0, 0.5) 0 0 0 5px inset;
  cursor: pointer;
}

/* line 97, ../assets/stylesheets/_picker.scss */
.background, .foreground {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

/* line 101, ../assets/stylesheets/_picker.scss */
.bgs {
  position: absolute;
  left: -34px;
  width: 30px;
}
/* line 105, ../assets/stylesheets/_picker.scss */
.bgs, .bgs:before, .bgs:after {
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
/* line 106, ../assets/stylesheets/_picker.scss */
.bgs:after {
  right: 0px;
}
/* line 107, ../assets/stylesheets/_picker.scss */
.exposed .bgs div {
  left: 0;
}
/* line 108, ../assets/stylesheets/_picker.scss */
.bgs div {
  width: 30px;
  height: 29px;
  position: relative;
  margin-top: 1px;
  cursor: pointer;
}
/* line 114, ../assets/stylesheets/_picker.scss */
.bgs div:first-child {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 0;
}
/* line 115, ../assets/stylesheets/_picker.scss */
.bgs div:last-child {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 117, ../assets/stylesheets/_picker.scss */
.bgs .none {
  background-color: rgba(255, 255, 255, 0);
}
/* line 120, ../assets/stylesheets/_picker.scss */
.bgs .light {
  background: #fff;
}
/* line 121, ../assets/stylesheets/_picker.scss */
.bgs .dark {
  background: #000;
}
/* line 122, ../assets/stylesheets/_picker.scss */
.bgs .random {
  background: #007fff;
}
/* line 124, ../assets/stylesheets/_picker.scss */
.bgs .random:after {
  content: "";
  height: 6px;
  width: 6px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 6px 5px, rgba(255, 255, 255, 0.4) 6px 6px 1px, rgba(0, 0, 0, 0.8) 18px 5px, rgba(255, 255, 255, 0.4) 18px 6px 1px, rgba(0, 0, 0, 0.8) 12px 12px, rgba(255, 255, 255, 0.4) 12px 13px 1px, rgba(0, 0, 0, 0.8) 6px 19px, rgba(255, 255, 255, 0.4) 6px 20px 1px, rgba(0, 0, 0, 0.8) 18px 19px, rgba(255, 255, 255, 0.4) 18px 20px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 6px 5px, rgba(255, 255, 255, 0.4) 6px 6px 1px, rgba(0, 0, 0, 0.8) 18px 5px, rgba(255, 255, 255, 0.4) 18px 6px 1px, rgba(0, 0, 0, 0.8) 12px 12px, rgba(255, 255, 255, 0.4) 12px 13px 1px, rgba(0, 0, 0, 0.8) 6px 19px, rgba(255, 255, 255, 0.4) 6px 20px 1px, rgba(0, 0, 0, 0.8) 18px 19px, rgba(255, 255, 255, 0.4) 18px 20px 1px;
  box-shadow: rgba(0, 0, 0, 0.8) 6px 5px, rgba(255, 255, 255, 0.4) 6px 6px 1px, rgba(0, 0, 0, 0.8) 18px 5px, rgba(255, 255, 255, 0.4) 18px 6px 1px, rgba(0, 0, 0, 0.8) 12px 12px, rgba(255, 255, 255, 0.4) 12px 13px 1px, rgba(0, 0, 0, 0.8) 6px 19px, rgba(255, 255, 255, 0.4) 6px 20px 1px, rgba(0, 0, 0, 0.8) 18px 19px, rgba(255, 255, 255, 0.4) 18px 20px 1px;
}

/* line 144, ../assets/stylesheets/_picker.scss */
.slider {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: background-color 0.1s;
  -moz-transition: background-color 0.1s;
  -o-transition: background-color 0.1s;
  transition: background-color 0.1s;
  position: relative;
  width: 381px;
  margin: 3px 5px 10px;
  position: relative;
  cursor: pointer;
  height: 20px;
  float: left;
  clear: left;
}
/* line 145, ../assets/stylesheets/_picker.scss */
.slider, .slider > div {
  width: 381px;
  height: 20px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 2px 1px inset, rgba(255, 255, 255, 0.2) 0 1px inset, rgba(0, 0, 0, 0.4) 0 -1px 1px inset, rgba(0, 0, 0, 0.4) 0 1px 1px, black 0 0 2px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 2px 1px inset, rgba(255, 255, 255, 0.2) 0 1px inset, rgba(0, 0, 0, 0.4) 0 -1px 1px inset, rgba(0, 0, 0, 0.4) 0 1px 1px, black 0 0 2px 1px;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 2px 1px inset, rgba(255, 255, 255, 0.2) 0 1px inset, rgba(0, 0, 0, 0.4) 0 -1px 1px inset, rgba(0, 0, 0, 0.4) 0 1px 1px, black 0 0 2px 1px;
}
/* line 149, ../assets/stylesheets/_picker.scss */
.slider > div {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 161, ../assets/stylesheets/_picker.scss */
.slider:after, .slider:before {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}
/* line 164, ../assets/stylesheets/_picker.scss */
.slider:hover .handle {
  background-color: rgba(255, 255, 255, 0.1);
}

/* line 169, ../assets/stylesheets/_picker.scss */
.handle {
  position: absolute;
  cursor: pointer;
  z-index: 2;
  top: -1px;
  content: " ";
  width: 22px;
  height: 22px;
  z-index: 1;
  background-color: #dddddd;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
  background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 15, color-stop(0%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0.2)));
  background-image: -webkit-radial-gradient(top center, circle, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2) 15px);
  background-image: -moz-radial-gradient(top center, circle, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2) 15px);
  background-image: -o-radial-gradient(top center, circle, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2) 15px);
  background-image: radial-gradient(top center, circle, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2) 15px);
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  -webkit-box-shadow: white 0px 1px 1px inset, rgba(0, 0, 0, 0.4) 0px -1px 1px inset, rgba(0, 0, 0, 0.4) 0px 1px 4px 0px, rgba(0, 0, 0, 0.6) 0 0 2px;
  -moz-box-shadow: white 0px 1px 1px inset, rgba(0, 0, 0, 0.4) 0px -1px 1px inset, rgba(0, 0, 0, 0.4) 0px 1px 4px 0px, rgba(0, 0, 0, 0.6) 0 0 2px;
  box-shadow: white 0px 1px 1px inset, rgba(0, 0, 0, 0.4) 0px -1px 1px inset, rgba(0, 0, 0, 0.4) 0px 1px 4px 0px, rgba(0, 0, 0, 0.6) 0 0 2px;
}

/* line 185, ../assets/stylesheets/_picker.scss */
#controls {
  overflow: hidden;
  *zoom: 1;
}
/* line 187, ../assets/stylesheets/_picker.scss */
#controls input {
  width: 40px;
  text-align: right;
  font-size: .9em;
  padding: 3px 4px;
  float: left;
  margin-left: 8px;
}

/* line 197, ../assets/stylesheets/_picker.scss */
#colors {
  clear: left;
}
/* line 199, ../assets/stylesheets/_picker.scss */
#colors input {
  text-align: center;
  margin-left: 2px;
}
/* line 201, ../assets/stylesheets/_picker.scss */
#colors input:first-child {
  margin-left: 0;
}

/* line 205, ../assets/stylesheets/_picker.scss */
input {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  border: 0;
  padding: 8px 6px;
  font-size: 1em;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.8);
  text-shadow: rgba(0, 0, 0, 0.5) 0 2px 1px;
}
/* line 215, ../assets/stylesheets/_picker.scss */
input:focus {
  outline: none;
  color: #fff;
}

/* line 218, ../assets/stylesheets/_picker.scss */
#hex {
  width: 5.7em;
}

/* line 219, ../assets/stylesheets/_picker.scss */
#rgba {
  width: 14em;
}

/* line 220, ../assets/stylesheets/_picker.scss */
#hsla {
  width: 15em;
}

/* line 222, ../assets/stylesheets/_picker.scss */
input.error {
  -webkit-box-shadow: rgba(255, 127, 127, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -moz-box-shadow: rgba(255, 127, 127, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 127, 127, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background-color: rgba(102, 0, 0, 0.3);
  color: #ff0f0f;
}

@font-face {
  font-family: "AdelleBasic";
  src: url('/fonts/adellebasic_bold-webfont.ttf') format('truetype'), url('/fonts/adellebasic_bold-webfont.svg') format('svg'), url('/fonts/adellebasic_bold-webfont.woff') format('woff'), url('/fonts/adellebasic_bold-webfont.eot') format('embedded-opentype');
}

@font-face {
  font-family: "CaviarDreams";
  src: url('/fonts/caviardreams-webfont.ttf') format('truetype'), url('/fonts/caviardreams-webfont.svg') format('svg'), url('/fonts/caviardreams-webfont.woff') format('woff'), url('/fonts/caviardreams-webfont.eot') format('embedded-opentype');
}

/* line 8, ../assets/stylesheets/site.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../assets/stylesheets/site.scss */
html {
  text-align: center;
  -webkit-background-size: 80px 80px;
  -moz-background-size: 80px 80px;
  -o-background-size: 80px 80px;
  background-size: 80px 80px;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(25%, rgba(0, 0, 0, 0.1)), color-stop(25%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.1)), color-stop(75%, rgba(0, 0, 0, 0.1)), color-stop(75%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left top, rgba(0, 0, 0, 0.1) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left top, rgba(0, 0, 0, 0.1) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left top, rgba(0, 0, 0, 0.1) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  background-image: linear-gradient(left top, rgba(0, 0, 0, 0.1) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  background-color: #2a2a2a;
}

/* line 16, ../assets/stylesheets/site.scss */
body {
  background: none;
  padding: 0px 0px 40px;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 21, ../assets/stylesheets/site.scss */
body > div, body > section, body > header {
  width: 570px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 28, ../assets/stylesheets/site.scss */
.heading-font, h1, h2, h3 {
  font-family: 'AdelleBasic', sans;
  font-weight: normal;
}

/* line 32, ../assets/stylesheets/site.scss */
.inset-box-shadow, pre, section {
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
}

/* line 36, ../assets/stylesheets/site.scss */
h1, h2, h3 {
  color: #eee;
  font-weight: normal;
}

/* line 42, ../assets/stylesheets/site.scss */
h3 {
  font-size: 1.6em;
  margin: .8em 0 1em;
}

/* line 45, ../assets/stylesheets/site.scss */
h2 {
  text-align: center;
  font-size: 2em;
  margin: .2em 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-bottom: .6em;
}
/* line 51, ../assets/stylesheets/site.scss */
h2 + p {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  padding-top: 1.2em;
}

/* line 56, ../assets/stylesheets/site.scss */
h1 {
  text-align: center;
  font-size: 3.5em;
  margin: 0em 0 .1em;
  line-height: 1em;
  text-transform: uppercase;
  word-spacing: .05em;
  font-weight: bold;
}
/* line 65, ../assets/stylesheets/site.scss */
h1:focus {
  outline: 0;
}

/* line 69, ../assets/stylesheets/site.scss */
header p:first-child {
  font-style: normal;
  text-transform: uppercase;
  font-family: "CaviarDreams", sans;
  display: block;
  text-shadow: #000 1px 1px 0px;
  color: #eee;
  letter-spacing: .1em;
  margin: 1em 0 .3em;
  padding: 0;
  font-size: 1.25em;
}
/* line 80, ../assets/stylesheets/site.scss */
header p:first-child:before, header p:first-child:after {
  content: ' ';
  width: 4.5em;
  height: 1px;
  display: inline-block;
  border-bottom: 1px solid #888;
  position: relative;
  top: -0.35em;
  margin: 0 .5em;
}
/* line 91, ../assets/stylesheets/site.scss */
header p {
  font-size: .7em;
  text-shadow: #000 0 1px;
  font-family: "Caviar Dreams", sans;
  font-style: normal;
  display: block;
  margin: 0em 0 1.2em;
  color: #aaa;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: .5em;
}
/* line 103, ../assets/stylesheets/site.scss */
header a {
  border-bottom: 0;
}

/* line 108, ../assets/stylesheets/site.scss */
a {
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  color: #eee;
  text-decoration: none;
}

/* line 114, ../assets/stylesheets/site.scss */
p {
  margin: 0;
  padding: 0 0 1.5em;
  line-height: 1.5em;
}

/* line 120, ../assets/stylesheets/site.scss */
#hslpicker {
  margin: 1em 0 2em;
}

/* line 124, ../assets/stylesheets/site.scss */
.frame {
  margin-bottom: 1.5em;
}

/* line 128, ../assets/stylesheets/site.scss */
code {
  font-size: 0.95em;
  font-family: menlo, monaco, 'andale mono', 'courier new', fixed;
  display: inline-block;
  background: rgba(0, 0, 0, 0.3);
  padding: 0 .4em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 136, ../assets/stylesheets/site.scss */
pre {
  background: rgba(0, 0, 0, 0.3);
  padding: 1em;
  margin: 0 0 1.8em;
  width: auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 143, ../assets/stylesheets/site.scss */
pre code {
  background: none;
}

/* line 145, ../assets/stylesheets/site.scss */
.hide {
  display: none;
}

/* line 147, ../assets/stylesheets/site.scss */
section {
  color: #c6c6c6;
  font-size: .9em;
  line-height: 1.45em;
  margin-top: 1em;
  padding-top: 1em;
  text-align: left;
  overflow: hidden;
  margin-top: 2em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 2em 2.5em .5em;
  background: rgba(0, 0, 0, 0.2);
}
/* line 156, ../assets/stylesheets/site.scss */
section p {
  font-family: "Lucida sans", Helvetica, Arial, sans;
}
/* line 157, ../assets/stylesheets/site.scss */
section strong {
  color: #ccc;
}
/* line 158, ../assets/stylesheets/site.scss */
section a.why {
  color: #444;
  text-shadow: #000 0 0 2px;
  text-transform: lowercase;
  display: block;
  width: 3.5em;
  margin: 0 auto;
  text-align: center;
  display: none;
}
/* line 175, ../assets/stylesheets/site.scss */
section h2, section h3 {
  text-shadow: rgba(0, 0, 0, 0.7) 0 2px 2px;
}

/* line 178, ../assets/stylesheets/site.scss */
footer {
  color: #555;
  text-shadow: rgba(0, 0, 0, 0.5) 0 1px 1px;
  font-size: 13px;
}
/* line 182, ../assets/stylesheets/site.scss */
footer p {
  padding-bottom: .5em;
}
/* line 183, ../assets/stylesheets/site.scss */
footer a {
  display: inline-block;
  color: #666;
  line-height: 1.1em;
  border-color: #555;
  position: relative;
  margin-left: .2em;
}
/* line 190, ../assets/stylesheets/site.scss */
footer a + a {
  margin-left: 1em;
}
/* line 192, ../assets/stylesheets/site.scss */
footer a + a:before {
  content: " ";
  display: block;
  position: absolute;
  left: -0.7em;
  top: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: rgba(255, 255, 255, 0.08) 1px 0 inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.08) 1px 0 inset;
  box-shadow: rgba(255, 255, 255, 0.08) 1px 0 inset;
  width: 1px;
  height: 1.3em;
}

/* line 204, ../assets/stylesheets/site.scss */
#url {
  display: inline-block;
  padding: 0 8px 2px;
  text-shadow: inherit;
  text-align: center;
  line-height: 2em;
  cursor: text;
  margin: 0;
  border: 0;
  width: 168px;
  color: #666;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: none;
}
/* line 218, ../assets/stylesheets/site.scss */
#url:focus, #url:hover {
  background: rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 10px 0px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 10px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.4) 0 1px 10px 0px inset;
  color: #999;
}
