#hslpicker {
  margin: 0 auto;
}

%checked {
  $tile1: rgba(#fff, .2);
  $tile2: transparent;
  @include background-image(
    linear-gradient(45deg, $tile1 25%, $tile2 25%, $tile2 75%, $tile1 75%, $tile1),
    linear-gradient(45deg, $tile1 25%, $tile2 25%, $tile2 75%, $tile1 75%, $tile1)
  );
  @include background-size(20px 20px);
  background-position: 0px 0px, 10px 10px;
}

%color-boxes {
  &:before, &:after {
    content: "";
    z-index: -2;
  }
  &:after {
    background: rgba(#000, .3);
    @include stretch(-3px, -4px, -3px, -4px);
    @include box-shadow(rgba(#000, .3) 0 1px inset, rgba(#fff, .1) 0 1px);
  }
  &:before {
    @include stretch;
    @extend %checked;
  }
}

.color-tiles {
  position: relative;
  width: 119px; height: 119px;
  margin: { bottom: 15px; right: 10px; top: 3px; }
  float: left;
  background-color: rgba(#fff, 0);
  @include transition(background-color .1s);
  @include border-radius(6px);
  &:after { @include border-right-radius(8px); }
  &:before { @include border-radius(5px); }
  @extend %color-boxes;
  .tile {
    @include border-radius(5px);
  }
  div .tile {
    @include stretch;
  }
  div .tile, .bg {
    @include box-shadow(rgba(#fff, .1) 0 1px 2px 1px inset, rgba(#fff, .2) 0 1px inset, rgba(#000, .4) 0 -1px 1px inset, rgba(#000, .4) 0 1px 1px);
  }
}

.foreground, .background {
  position: absolute;
  width: 119px;
  height: 119px;
}

.foreground {
  z-index: 2;
}
.background {
  background-color: rgba(#fff, 0);
}

.expose {
  @include transition(all .15s ease-out);
  @include border-radius(2px);
  position: absolute; top: 5px; right: 5px;
  width: 16px; height: 16px;
  z-index: 2;
  cursor: pointer;
  opacity: .4;
  background: rgba(#000, .8);
  $pad: 3px;
  $arrow-color: rgba(#fff, .8);
  &:before,
  &:after {
    content: "";
    position: absolute;
    height: 5px; width: 5px;
  }
  &:before {
    border: solid 2px $arrow-color { bottom: 0; right: 0 }
    top: $pad; left: $pad;
  }
  &:after {
    border: solid 2px $arrow-color { top: 0; left: 0 }
    bottom: $pad; right: $pad;
  }
}

.color-tiles:hover .expose {
  opacity: 1;
}

.exposed .expose, .expose:hover {
  width: 20px; height: 20px;
  top: 3px; right: 3px;
}

.exposed .expose {
  $arrow-color: rgba(#fff, .8);
  $pad: 3px;
  &:before, &:after { height: 4px; width: 4px; }
  &:before {
    border: solid 2px $arrow-color { top: 0; left: 0 }
    top: $pad; left: $pad;
  }
  &:after {
    border: solid 2px $arrow-color { bottom: 0; right: 0 }
    bottom: $pad; right: $pad;
  }
}

.background-color {
  z-index: 0;
  cursor: pointer;
  background-color: rgba(#fff, 0);
}

.exposed {
  .bg { left: 0 }
  .foreground { 
    left: 29px; top: 29px;
    width: 90px; height: 90px;
  }
  .background {
    right: 29px;
    width: 90px; height: 90px;
    @include box-shadow(rgba(#000, .8) 0 1px 10px);
  }
  .foreground {
    @include box-shadow(rgba(#000, .8) 0 1px 10px);
    cursor: pointer;
  }
  .selected {
    &:after {
      content: "";
      @include stretch;
      @include border-radius(5px);
      z-index: 1;
      @include box-shadow(rgba(#fff, .5) 0 0 0px 1px inset, rgba(#000, .5) 0 0 0 5px inset);
      cursor: pointer;
    }
  }
}

.background, .foreground {
  @include transition(all .25s ease-in-out);
}

.bgs {
  position: absolute;
  left: -34px; width: 30px;
  @extend %color-boxes;
  &, &:before, &:after { @include border-left-radius(6px); }
  &:after { right: 0px; }
  .exposed & div { left: 0; }
  div {
    width: 30px;
    height: 29px;
    position: relative;
    margin-top: 1px;
    cursor: pointer;
    &:first-child { @include border-top-radius(5px); margin-top: 0; }
    &:last-child { @include border-bottom-radius(5px); }
  }
  .none {
    background-color: hsla(360, 100, 100, 0); 
  }
  .light { background: #fff; }
  .dark { background: #000; }
  .random {
    background: #007fff;
    &:after {
      content: ""; height: 6px; width: 6px;
      position: absolute; top: 0; left: 0;
      @include border-radius(5px);
      @include box-shadow(
          rgba(#000, .8) 6px 5px
        , rgba(#fff, .4) 6px 6px 1px
        , rgba(#000, .8) 18px 5px
        , rgba(#fff, .4) 18px 6px 1px
        , rgba(#000, .8) 12px 12px
        , rgba(#fff, .4) 12px 13px 1px
        , rgba(#000, .8) 6px 19px
        , rgba(#fff, .4) 6px 20px 1px
        , rgba(#000, .8) 18px 19px
        , rgba(#fff, .4) 18px 20px 1px
      );
    }
  }
}

.slider {
  &, > div {
    width: 381px; height: 20px; 
    @include box-shadow(rgba(#fff, .1) 0 1px 2px 1px inset, rgba(#fff, .2) 0 1px inset, rgba(#000, .4) 0 -1px 1px inset, rgba(#000, .4) 0 1px 1px, rgba(#000, 1) 0 0 2px 1px);
  }
  > div { @include border-radius(10px); }
  @include border-radius(10px); 
  @include transition(background-color .1s);
  position: relative;
  width: 381px;
  margin: 3px 5px 10px;
  position: relative;
  cursor: pointer;
  height: 20px;
  float: left;
  clear: left;
  @extend %color-boxes;
  &:after, &:before {
    @include border-radius(15px);
  }
  &:hover .handle {
    background-color: rgba(#fff, .1);
  }
}

.handle {
  position: absolute;
  cursor: pointer;
  z-index: 2;
  top: -1px;
  content: " ";
  width: 22px;
  height: 22px;
  z-index: 1;
  background-color: rgba(#ddd, 1);
  @include transition(background-color .4s);
  @include background-image(radial-gradient(top center, circle, rgba(#fff, .9), rgba(#fff, .2) 15px));
  @include border-radius(1em);
  @include box-shadow(rgba(#fff, 1) 0px 1px 1px inset, rgba(#000, 0.4) 0px -1px 1px inset, rgba(#000, 0.4) 0px 1px 4px 0px, rgba(#000, .6) 0 0 2px);
}

#controls {
  @include clearfix;
  input {
    width: 40px;
    text-align: right;
    font-size: .9em;
    padding: 3px 4px;
    float: left;
    margin-left: 8px;
  }
}

#colors {
  clear: left;
  input {
    text-align: center; margin-left: 2px;
    &:first-child { margin-left: 0; }
  }
}

input {
  @include transition(all .3s);
  @include border-radius(4px);
  @include box-shadow(rgba(#fff, .1) 0 1px 0, rgba(#000, .8) 0 1px 7px 0px inset);
  border: 0;
  padding: 8px 6px;
  font-size: 1em;
  background-color: rgba(#000, .3);
  color: rgba(#fff, .8);
  text-shadow: rgba(#000, .5) 0 2px 1px;
  &:focus { outline: none; color: #fff; }
}

#hex  { width: 5.7em; }
#rgba { width: 14em; }
#hsla { width: 15em; }

input.error {
  @include box-shadow(rgba(mix(#fff, red), .1) 0 1px 0, rgba(#000, .8) 0 1px 7px 0px inset);
  background-color: rgba(mix(#000, red, 60), .3);
  color: mix(#fff, red, 6);
}
