#app {
  padding: 20px 10px;
  margin: 0 auto;
  text-align: center;
}

input {
  max-width: 100%;
}

input[type="text"],
input[type="number"] {
  color: var(--picker-input-color);
  box-shadow: var(--picker-input-box-shadow);
  background-color: var(--picker-input-bg);
  text-shadow: var(--picker-text-shadow);
  border-radius: 5px;
  border: none;
  transition: all 0.2s;
}
input[type="text"]:focus,
input[type="number"]:focus {
  outline: 3px solid var(--picker-input-focus-ring);
  outline-offset: 0px;
}

input:invalid {
  background: var(--picker-input-invalid-bg);
  box-shadow: var(--picker-input-invalid-box-shadow);
  color: var(--picker-input-invalid-color);
}

input[data-copied] {
  background: var(--picker-input-copied-bg);
  color: var(--picker-input-copied-color);
}

input[type="text"] {
  text-align: center;
  padding: 8px 0.6em;
  font-size: 1em;
}

input[type="number"] {
  text-align: right;
  padding: 3px 4px;
  font-size: 0.9em;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  display: none;
}

.main {
  display: grid;
  gap: 12px;
}

.color-picker {
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: minmax(100px, 500px);
  gap: 8px;
}

.color-slider {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.banner {
  display: grid;
  gap: 8px;
  text-transform: uppercase;
  margin: 10px 0 15px;
  font-weight: 200;
}

.banner h1 {
  color: #fff;
  font-size: 3.2em;
  line-height: 0.8em;
  margin: -5px 0 5px;
  font-family: "Raleway", serif;
  font-weight: 800;
  line-height: 1em;
  text-shadow:
    var(--picker-dynamic-accent) 0px 1px 0px,
    var(--picker-dynamic-accent) 0px 2px 0px,
    var(--picker-dynamic-accent) 0px 3px 0px,
    var(--picker-dynamic-accent) 0px 4px 0px,
    var(--picker-dynamic-accent) 0px 5px 0px,
    rgba(0, 0, 0, 0.2) 0px 5px 1px,
    rgba(0, 0, 0, 0.3) 0px 0px 10px,
    rgba(0, 0, 0, 0.4) 0px 3px 5px,
    rgba(0, 0, 0, 0.5) 0px 6px 5px;
  /* rgba(0, 0, 0, 0.6) 0px 10px 10px; */
}
.preamble {
  font-size: 1.25em;
  letter-spacing: 0.1em;
  text-shadow: var(--picker-text-shadow);
}
.preamble:before,
.preamble:after {
  width: 4.5em;
  height: 0px;
  display: inline-block;
  border-bottom: 1px solid currentColor;
  box-shadow: var(--picker-text-shadow-color) 0 1px 1px;
  position: relative;
  top: -0.3em;
  margin: 0 0.5em;
}

.credit {
  font-size: 0.7em;
  color: rgba(255, 255, 255, 0.3);
  font-style: normal;
  display: block;
  margin: 0;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.4em;
  background: var(--picker-dynamic-accent);
  background-clip: text;
  -webkit-background-clip: text;
}

@keyframes rainbow-move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1000px 1000px;
  }
}

.credit a {
  color: rgba(255, 255, 255, 0.6);
}

@media (prefers-color-scheme: light) {
  .credit {
    color: rgba(0, 0, 0, 0.3);
  }
  .credit a {
    color: rgba(0, 0, 0, 0.4);
  }
}

.credit a:hover {
  background-image: var(--picker-rainbow);
  background-repeat: repeat;
  background-size: 100%;
  text-shadow: none;
  color: transparent;
  animation: rainbow-move 15s linear infinite;
  background-clip: text;
  -webkit-background-clip: text;
}

@media screen and (min-width: 550px) {
  .banner h1 {
    font-size: 3.8em;
  }

  input[name="hex"] {
    text-align: left;
  }
  .main {
    grid-auto-columns: 125px 1fr;
    grid-auto-flow: column;
  }

  .color-slider {
    display: grid;
    grid-auto-columns: minmax(180px, 500px) 45px;
    grid-auto-flow: column;
    align-items: center;
  }
  input[type="number"] {
    display: initial;
  }
}

@media screen and (min-width: 740px) {
  .preamble:before,
  .preamble:after {
    content: "";
  }
}

.slider-choices {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(3, min-content);
  place-content: center;
  margin: 0 auto 20px;
}
.slider-choices label {
  cursor: pointer;
}

.slider-choices input[type="checkbox"] {
  appearance: none;
  border: 0;
  padding: 0;
  margin: 0;
  height: 0;
  width: 0;
  position: absolute;
  z-index: -1;
}

.slider-choices input + div {
  font-size: 0.9em;
  background-color: var(--picker-input-bg);
  box-shadow: var(--picker-input-box-shadow);
  text-shadow: var(--picker-text-shadow);
  border-radius: 15px;
  border: none;
  position: relative;
  padding: 2px 10px 2px 25px;
  -webkit-user-select: none;
  user-select: none;
}
.slider-choices input:focus + div {
  outline: 3px solid var(--picker-input-focus-ring);
  outline-offset: 0px;
}

.slider-choices input + div:before {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  left: 9px;
  top: 8px;
  box-shadow: 0 0 0 2px var(--picker-dynamic-accent);
  opacity: 0.6;
  transition: opacity 0.2s;
}

@media (prefers-color-scheme: light) {
  .slider-choices input + div:before {
    mix-blend-mode: multiply;
  }
}

.slider-choices input:checked + div:before {
  background-color: var(--picker-dynamic-accent);
  opacity: 1;
}

.color-swatch {
  position: relative;
  display: block;
  background-color: var(--picker-color);
  box-shadow: var(--picker-slider-box-shadow);
  border-radius: 12px;
  height: 116px;
  margin-bottom: 8px;
}

.color-pickers {
  display: grid;
  gap: 25px;
}

.color-code {
  position: relative;
}
.color-code input {
  width: 100%;
}

button.copy-code {
  position: absolute;
  right: -1px;
  top: 0px;
  bottom: 0;
  background: transparent;
  padding: 0 10px;
  font-size: 1.6em;
  border: transparent;
  cursor: pointer;
}
button.copy-code:focus {
  outline: 3px solid var(--picker-input-focus-ring);
  border-radius: 5px;
  outline-offset: 0px;
}

button.copy-code svg {
  opacity: 0.5;
  fill: currentColor;
  transition: opacity 0.2s;
  transform: translateZ(0);
  display: block;
  position: relative;
}

button.copy-code:hover svg {
  opacity: 1;
}

button.copy-code[data-copied] svg {
  fill: var(--picker-input-copied-color);
  opacity: 1;
}

.slider-track {
  height: 20px;
  background-image:
    var(--picker-track-check-gradient), var(--picker-track-check-gradient);
  background-size: 20px 20px;
  background-position:
    0px 0px,
    10px 10px;
  border-radius: 15px;
  position: relative;
}
.slider-track::after {
  z-index: -1;
  background: var(--picker-track-bg);
  position: absolute;
  top: -3px;
  bottom: -3px;
  left: -4px;
  right: -4px;
  border-radius: 15px;
  box-shadow: var(--picker-track-box-shadow);
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  box-shadow: var(--picker-slider-box-shadow);
  height: 20px;
  border-radius: 15px;
  width: 100%;
  margin: 0;
}
input[type="range"]:focus {
  outline: none;
}

input[type="range"][disabled] {
  opacity: 0.5;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-moz-range-track {
  -webkit-appearance: none;
  appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-ms-track {
  -webkit-appearance: none;
  appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

/* thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  cursor: ew-resize;
  transition: box-shadow 0.2s;
  box-shadow: var(--picker-thumb-box-shadow);
}

input[type="range"]:hover::-webkit-slider-thumb {
  box-shadow: var(--picker-thumb-box-shadow-hover);
}

input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: var(--picker-thumb-box-shadow-focus);
}

input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  cursor: ew-resize;
  box-shadow: var(--picker-thumb-box-shadow);
}

input[type="range"]::-ms-thumb {
  -ms-appearance: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  cursor: ew-resize;
  box-shadow: var(--picker-thumb-box-shadow);
}
